/** @format */

@import "tailwindcss";

@theme {
	--font-poppins: "Poppins", sans-serif;
	--shadow-navbar: 0px 0px 8px 0px #0000000a;
	--color-box: #696774;
	--color-secondary: #8ba1b3;
	--color-primary: #2a67b2;
	--color-bgPrimary: #2a67b20a;
	--color-text: #0a1013;
}

.ant-btn-default {
	@apply !border-primary;
}

.ant-table-wrapper .ant-table-column-title,
th.ant-table-cell {
	@apply !text-sm !font-semibold !text-secondary;
}

.transaction-table .ant-table-cell {
	@apply !px-5 !py-2;
}

.transaction-table .ant-table-wrapper .ant-table-column-title,
.transaction-table th.ant-table-cell {
	@apply !text-xs !font-semibold !text-[#06031C];
}

td.ant-table-cell {
	@apply !text-base !font-normal !text-[#292929];
}

.transaction-table td.ant-table-cell {
	@apply !text-xs !font-normal !text-[#292929];
}

.ant-input-number {
	@apply !w-full;
}

.ant-input-number-handler-wrap {
	@apply !hidden;
}

.ant-descriptions-item-label {
	@apply !text-xs !font-semibold !text-text !px-5 !py-2;
}

.ant-descriptions-item-content {
	@apply !text-xs !font-semibold !text-[#98999A] !px-5 !py-2;
}
